@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;900&display=swap');
@font-face{
    font-family:'nike';
    src:url('font/nike.ttf');
}
@font-face{
    font-family:'gift';
    src:url('font/gift.ttf');
}
@font-face{
    font-family:'sb';
    src:url('font/sb.ttf');
}
@font-face{
    font-family:'katakana';
    src:url('font/katakana.ttf');
}
@font-face{
    font-family:'katakan';
    src:url('font/katakan.ttf');
}
*{
    transition: all .4s ease;

    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a 
{
    text-decoration: none;
}
/* FONT */

body {
    color: #d6cd7c;
    background-color: #c24f4f;
    font-family: 'katakana';
}
    header h1{
    font-family:'katakana';
}
.jea
header{
    background-color: #cd5050;

    padding:2em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1{
    display: flex;
    justify-content: center;align-items: center;
    font-size: 14px;
    gap: .4em;
}
header svg{
    width: 25px;
}
header nav{
    position: relative;
}
header nav a{
font-size: 12px;
    font-family: 'poppins';
}
header nav ul{
display: flex;
gap: 1em;
}
.join-us:hover{
    opacity: 1;
    background-color: white;
}
.join-us{
    letter-spacing: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color:#d6cd7c;
    color: #c24f4f;
    padding: 0.5em 1em;
    border-radius: 30px;
}

.bulir {
    position: absolute;
width: 30px;
height: 2px;
left: .5em;
bottom:-.5em;

/* transform: translateX(30px); */
background-color: whitesmoke;
}

header .active > a{
    color: whitesmoke;
}
header a:hover{
    transition: all .4s ease;
opacity: .7;
}
header a{
    color: #d6cd7c;
font-family: 'sb';
letter-spacing: 2px;

}

/* Page Part 1 */
section{
}
.p-1{
    font-family: 'Poppins';

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.p-1 .left p{
    width: 50%;
}
.p-1 .left h1{
    font-family: 'Poppins',sans-serif;
    font-size: 2rem;
  font-weight: 900;
  line-height: 109%;
  margin-bottom: 1rem;
}
.p-1 .left{
    font-size: 14px;
    text-align: center;
    padding: 1em;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
gap: 2em;
}
.left ul {
    display: flex;
    gap: 1em;
}
.left ul li:last-child a:hover{
    color: #d6cd7c;
    background-color: #d6cd7c;
    color: #c24f4f;
}
.left ul li:last-child a{
    border:2px solid #d6cd7c;
    background-color: unset;
    color: #d6cd7c;

}
.left ul li a:hover{
    color: #d6cd7c;
    border:1px solid #d6cd7c;

    background-color: #cd5050;
}
.left ul li a{
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 14px;
    color: #d6cd7c;
    background-color: #d6cd7c;
    color: #c24f4f;
    padding: .5em .5em;
    border-radius:12px;
}
.p-1 p{
    
    justify-self: start;
}
.p-1 .right{
    padding: 1em;   

    position: relative;
    display: flex;
    justify-content: end;
}
.p-1 .right .image{
    border-radius: 12px;
    position: relative;
    height: 80vh;
    width: 80%;
    background-color: white;
}
.p-1 .right img{
position: absolute;
width: 550px;
}
.p-1 p{
    font-family: 'poppins';
}
.p-1 .start{
    font-weight: bold;
}
.search{
    margin-left: 1em;
}
.p-2{
    margin-top: 3em;
    height: 100vh;
    position: relative;
    background-color: #b94d4d;
}
.explore{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -3em;
  
    right: 45%;
    color: #d6cd7c;
    font-family: 'poppins';
    font-weight: bold;
    flex-direction: column;
}
.p-2 a.image {
    
    padding: .5em .7em;
border-radius: 100px;
    background-color: #c24f4f;
}
.p-2 a.image svg{
    color: #d6cd7c;
    width:38px;
    height:38px;
}

.p-2 .content{
    display: flex;justify-content: center;
flex-direction: column;
line-height: 1.5em;
align-items: center;
gap: 1em;
    padding-top: 3em;
text-align: center;}

/* .p-2 .list  */
.p-2 .list {
    display: flex;
    gap: 2em;
}
.p-2 .list .card{
    width: 130px;
    
    padding:0 1em;
font-size: 12px;
    border-radius: 12px;
    background-color:#d6cd7c;
    font-family: 'poppins';
color: #c24f4f;
}
.p-2 .list .card p:last-child{
    font-size: 10px;
    line-height: unset;

}
.card .cart:hover svg{
background-color: white;
color: #c24f4f;
}
.card .cart svg{
    margin-top: 1em;

    width: 30px;
    color: wheat;
    border-radius: .5em;
    background-color: #c24f4f;
    padding: .5em;
}
.p-2 .list .card img{
width: 100px;
}

@media screen and (max-width:768px){

    .p-1{
        grid-template-columns: 1fr;
    }
    .p-1 .right{
        justify-content: center;
        width: 100%;
    }
}
